################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AVTech.Portal/.vs/AVTech.Portal
/AVTech.Portal/AVTech.Portal/obj
*.user
/AVTech.Portal/obj
