@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Vaibhav M.</h1>
    <p>Site construction is started.</p>
    <br />
    
    <h1 class="display-4">Note this is production site</h1>
</div>
